* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  display: flex;
  background-color: #ededed !important;
  padding: 0.3em 1em;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}
.navbar button{
  height: 2.5rem;
  margin-left: 0.5rem;
}
.navbar-brand img{
  margin: 0.2em 0.2em;
  height: 2.5rem;
  /* width: 2rem; */
  border-radius: 50%;
  border: 2px solid rgb(197, 83, 35);
}

