<div class="bodyAdmin" align="center">
  <div class="card">
    <div class="card-header bg-primary">
      <h6>Add Course</h6>
    </div>
    <div class="card-body">
      <!--  #courseForm ="ngform" (ngSubmit)="onSubmit(courseForm)" we get error here so we need to define onSubmit method with parament form of type NgForm and import Forms module (both in admin.component.ts file)-->

      <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter a Title."
            #title="ngModel"
            [(ngModel)]="model.title"
            required
          />

          <div
            *ngIf="title.invalid && title.touched"
            class="text-danger warningDiv"
          >
            Title is required.
          </div>

          <!-- INSTEAD OF THIS (Angular 14+)
              <div *ngIf="title.errors.required && title.touched" class="text-danger">
  
              WE CAN USE THIS
              
              @if (title.invalid && title.touched) {
              <div class="text-danger">
                Title is required.
              </div>
            }@else{
              blass blaaa
            }
              we can also write else part as shown above only.
              -->
        </div>

        <div class="mb-3">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            placeholder="Add description, minimum 6 characters."
            id="description"
            name="description"
            #description="ngModel"
            [(ngModel)]="model.description"
            required
            minlength="6"
          ></textarea>

          <div
            *ngIf="description.invalid && description.touched"
            class="text-danger warningDiv"
          >
            Description is required.
          </div>
        </div>
        <div class="mb-3 courseBanner">
          <label for="image">Course Picture</label>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            [multiple]="false"
            (change)="onFileSelected($event)"
            ngModel
            required
            cont
          />

          @if(cover) {
          <div class="col-md-6 file-cover" align="left">
            <img
              [src]="cover"
              alt="uploaded image"
              style="height: 2rem; border: 0.4px solid black"
            />
          </div>
          } @if (showError && !cover) {
          <div class="text-danger warningDiv">
            Please upload a valid image file.
          </div>
          }
        </div>

        <button
          type="button"
          class="btn btn-secondary"
          id="reset"
          style="white-space: pre"
          (click)="resetFile()"
        >
          <i class="bi bi-arrow-repeat"></i>
          Reset Uploads
        </button>

        <div class="btn-div">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>

  <!-- COURSES SECTION  -->
  <section class="courses col-md-4" align="center">
    <!-- /* ===================       After  services    ===================================
    @if (courses.length>0) {
    <div><h3>All Courses</h3></div>
    }/* ===================       After  services    =================================== -->

    <!-- <div class="course-div-home">FF
      @for(course of courses; track $index){
        <app-courses [course]="course" isAdmin="true" (del)="deleteCourse($event)"></app-courses>
      } @empty {
      <div class="course-empty" align="center">
        <h4>No courses available</h4>
      </div>
      }
    </div> -->
    <!-- <app-courses [isAdmin]="true" (del)="deleteCourse($event)"></app-courses> -->
    
    <!-- Service is being used, so take a look at below code -->
    <app-courses [isAdmin]="true" ></app-courses>
  </section>
</div>




<!-- =====================  Previous code  ============================ -->

<!-- <div class="bodyAdmin" align="center">
  <div class="card">
    <div class="card-header bg-primary">
      <h6>Add Course</h6>
    </div>
    <div class="card-body"> -->
<!--  #courseForm ="ngform" (ngSubmit)="onSubmit(courseForm)" we get error here so we need to define onSubmit method with parament form of type NgForm and import Forms module (both in admin.component.ts file)-->

<!-- <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter a Title."
            #title="ngModel"
            [(ngModel)]="model.title"
            required
          />

          <div
            *ngIf="title.invalid && title.touched"
            class="text-danger warningDiv"
          >
            Title is required.
          </div> -->

<!-- INSTEAD OF THIS (Angular 14+)
              <div *ngIf="title.errors.required && title.touched" class="text-danger">
  
              WE CAN USE THIS
              
              @if (title.invalid && title.touched) {
              <div class="text-danger">
                Title is required.
              </div>
            }@else{
              blass blaaa
            }
              we can also write else part as shown above only.
              -->
<!-- </div>

        <div class="mb-3">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            placeholder="Add description, minimum 6 characters."
            id="description"
            name="description"
            #description="ngModel"
            [(ngModel)]="model.description"
            required
            minlength="6"
          ></textarea>

          <div
            *ngIf="description.invalid && description.touched"
            class="text-danger warningDiv"
          >
            Description is required.
          </div>
        </div>
        <div class="mb-3 courseBanner">
          <label for="image">Course Picture</label>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            [multiple]="false"
            (change)="onFileSelected($event)"
            ngModel
            required
            cont
          />

          @if(cover) {
          <div class="col-md-6 file-cover" align="left">
            <img
              [src]="cover"
              alt="uploaded image"
              style="height: 2rem; border: 0.4px solid black"
            />
          </div>
          } @if (showError && !cover) {
          <div class="text-danger warningDiv">
            Please upload a valid image file.
          </div>
          }
        </div>

        <button
          type="button"
          class="btn btn-secondary"
          id="reset"
          style="white-space: pre"
          (click)="resetFile()"
        >
          <i class="bi bi-arrow-repeat"></i>
          Reset Uploads
        </button>

        <div class="btn-div">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div> -->

<!-- <div class="row mt-3 course-div">
    @if(courses){
      <div class="course-heading text-center">
        <h3>All Courses</h3>
      </div>
      } F
    <div class="course-body">
      @for(course of courses; track $index){
        <div class="col-lg-3 course-box">
          <app-courses [course]="course" isAdmin="true" (del)="deleteCourse($event)"></app-courses>
        </div>
    
        }@empty {
        <div class="course-empty" align="center">
          <h4>No courses available</h4>
        </div>
        } -->
<!-- or u can use ngIf directive -->
<!-- <app-courses *ngFor="let course of courses"></app-courses> -->
<!-- </div>
  </div> -->

<!-- <section class="courses col-md-4" align="center"> -->
<!-- /* ===================       After  services    ===================================
    @if (courses.length>0) {
    <div><h3>All Courses</h3></div>
    }/* ===================       After  services    =================================== -->

<!-- <div class="course-div-home">FF
      @for(course of courses; track $index){
        <app-courses [course]="course" isAdmin="true" (del)="deleteCourse($event)"></app-courses>
      } @empty {
      <div class="course-empty" align="center">
        <h4>No courses available</h4>
      </div>
      }
    </div> -->

<!-- <app-courses
      [courses]="courses"
      isAdmin="true"
      (del)="deleteCourse($event)"
    ></app-courses> -->

<!-- Above is commented Because we are calling ngOnInit in course component thats why -->

<!-- <app-courses [isAdmin]="true" (del)="deleteCourse($event)"></app-courses> -->

<!-- Service is being used, so take a look at below code -->
<!-- <app-courses [isAdmin]="true"></app-courses>
  </section>
</div> -->
