<!-- <div class="welcome-title">
    <p>home works!</p>
<h1>{{title}}</h1>
<button class="title" (click)="changeTitle()">Change Title</button>
</div> -->

<!-- Hero Banner -->
<!-- <section class="wide-hero-banner">
  <img src="images/banner-angular.jpg" class="img-fluid" alt="Responsive image" />
  <section class="banner-title">
    <h1>Learning that gets you</h1>
    <p>Enhance your skills. Get started with us.</p>
    <button type="button" class="btn btn-secondary btn-sm banner-button">Courses</button>
    <button type="button" class="btn btn-primary btn-sm banner-button">Explore</button>
  </section>
</section> -->

<!-- Courses Section -->
<!-- <section class="courses" align="center">
  <ng-container *ngIf="courses.length > 0; else noCourses">
    <div><h3>All Courses</h3></div>
    <div class="course-div-home">
      <ng-container *ngFor="let course of courses; let i = index">
        <app-courses [course]="course"></app-courses>
      </ng-container>
    </div>
  </ng-container> -->

  <!-- Empty Courses Message -->
  <!-- <ng-template #noCourses>
    <div class="course-empty">
      <h4>No courses available</h4>
    </div>
  </ng-template>
</section> -->



<!-- Hero Banner -->

<section class="wide-hero-banner">
  <img
    src="images/courses/banner-angular.jpg"
    class="img-fluid"
    alt="Responsive image"
  />
  <section class="banner-title">
    <h1 class="">Learning that gets you</h1>
    <p class=" ">Enhance your skills. Get started with us.</p>
    <button type="button" class="btn btn-secondary btn-sm banner-button" routerLink="/courses">
      Courses
    </button>
    <button type="button" class="btn btn-primary btn-sm banner-button" routerLink="/courses">
      Explore
    </button>
  </section>
</section>


<!-- Courses -->

<section class="courses col-md-5" align="center">
 
  @if (courses.length>0) {
  <div><h3>All Courses</h3></div>
  }
 

  <!-- <app-courses [courses]="courses"></app-courses> -->   <!-- Because we are calling ngOnInit in course component thats why -->
   <app-courses/>
  
</section>


