
/* Global Styling */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  :host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
  /* Hero Banner */
  .wide-hero-banner {
    width: 100%;
    position: relative;
  }
  
  .wide-hero-banner img {
    width: 100%;
    height: auto;
  }
  
  .banner-title {
    height:fit-content;
    width: 60vw;
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
  }
  
  .banner-title h1 {
    font-size: 3em;
    font-weight: bold;
  }
  
  .banner-title p {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }
  
  .banner-button {
    max-width: 8em;
    padding: 0.3em;
    margin: 0.5em;
    font-size: 1.5em;
    border-radius: 0.7em;
  }
  
  /* Courses Section */
  .courses {
    width: auto;
    max-width: 80vw;
    /* margin: auto; */
    text-align: center;
    margin-bottom: 2em;
  }
  
  .courses h3 {
    margin: 2em 1em 1em;
    text-decoration: underline;
    text-shadow: 2px 1px 10px;
    font-weight: bold;
  }
/* styling have been moved to  COURSES.COMPONENT.CSS  To reduce redendency*/
@media (min-width: 560px) and (max-width: 1024px) {
  .banner-title {
    height: fit-content;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
  }
  
  .banner-title h1 {
    font-size: 1.6em;
    font-weight: bold;
    
  }
  
  .banner-title p {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  .banner-button {
    max-width: 8em;
    padding: 0.3em;
    margin: 0.5em;
    font-size: 1rem;
  }
}

@media (max-width: 560px){
  .banner-title {
    height: fit-content;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
  }
  
  .banner-title h1 {
    font-size: 1em;
    font-weight: bold;
  }
  
  .banner-title p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  
  .banner-button {
    max-width: 8em;
    padding: 0.3em;
    margin: 0.5em;
    font-size: 0.5rem;
    
  }
}